body {
  margin: 0;
  font-family: initial, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#fff, #ffffff, #ff752d);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
p {
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

section {
  padding-top: 20px;
}
img {
  max-width: 100%;
}
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.btn-reset {
  padding: 0;
  border: none;
  background: none;
  border-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.section {
  margin-top: 80px;
  background-color: #fff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.title-section {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}
